header {
  background-color: #012d63;
  padding-bottom: 30px;
  padding-top: 30px;
}
.header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
}

.right_nav,
.left_nav {
  display: flex;
  gap: 20px;
}

.header_nav {
  display: flex;
  gap: 73px;
}

.nav_item,
.lang_item {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.13px;
  text-align: left;
  color: #c7c7c7;
}

.left_nav li:first-child .nav_item,
.right_nav li:last-child .lang_item {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.13px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 1px;
}
