.first_section {
  background-image: url(../img/bgfirst.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.main_logo {
  padding-top: 94px;
  padding-left: 14;
}

.first_section--title {
  max-width: 640px;
  font-family: Playfair Display;
  font-size: 144px;
  font-weight: 400;
  line-height: 191.95px;
  text-align: left;
  color: #ffffff;
}

.first_section--title2 {
  max-width: 540px;
  font-family: Playfair Display;
  font-size: 72px;
  font-weight: 400;
  line-height: 95.98px;
  text-align: left;
  color: #ffffff;
}

.first_section--text {
  padding-bottom: 41px;
  max-width: 480px;
  padding-top: 12px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
  color: #ffffff;
}

.button_buy {
  width: 254px;
  height: 67px;
  background: #8e32c6;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  color: #ffffff;
  margin-bottom: 183px;
  border: 0;
}

.second_section {
  background-image: url(../img/bgsecond.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 105px;
  padding-top: 105px;
}

.second_section .main_container {
  display: flex;
  width: 100%;
  border: 5px solid #8e32c6;
}

.main_cards--first {
  display: flex;
  justify-content: center;
  padding: 25px 50px;
  gap: 96px;
}
.card_title--first {
  max-width: 160px;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 47.99px;
  text-align: center;
  color: #ffffff;
}

.card_first:first-child {
  border-right: 1px solid #ffffff;
  padding-right: 50px;
}

.card_first:last-child {
  border-left: 1px solid #ffffff;
  padding-left: 50px;
}

.card_first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third_section {
  background-image: url(../img/bgthirth.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  margin-top: 1px;
  position: relative;
}

.third_flower {
  position: absolute;
  left: 0;
  bottom: 0;
}

.third_section .main_container {
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_third--title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 24px;
}

.main_cards--second {
  display: flex;
  justify-content: center;
}

.card_second {
  width: 255px;
  height: 292px;
  border-radius: 15px;
}

.card_second:first-child {
  background-image: linear-gradient(
    136.55deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}

.card_second:nth-child(2) {
  background-image: linear-gradient(
    136.55deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}

.card_second:last-child {
  background-image: linear-gradient(
    142.67deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
  margin-bottom: 114px;
}

.card_sms {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: #ffffff;
  max-width: 228px;
  padding: 49px 0 8px 18px;
}

.card_date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #d8d8d8;
  padding-left: 18px;
  padding-bottom: 47px;
}

.card_profile {
  display: flex;
}

.profileimage {
  padding-left: 18px;
  padding-right: 5px;
}

.card_name {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #ffffff;
}

.card_years {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #d8d8d8;
}

.card_second:not(:first-child) {
  margin-left: 93px;
}

.last_section {
  background: url(../img/bgfourth.png) center/cover no-repeat;
  margin-top: 1px;
}

.last_section--title {
  display: flex;
  justify-content: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: left;
  align-items: center;
  margin-bottom: 33px;
  padding-top: 20px;
  color: #ffffff;
}

.form_start {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 50px;
  padding: 12px 25px;
  width: 100%;
  max-width: 690px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.form_start--input {
  border: none;
  outline: none;
  flex: 1;
  color: #959595;
}

.form_start--input::placeholder {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
}

.form_start--btn {
  border: 0;
  outline: none;
  background: none;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  padding-right: 73px;
  color: #8D8D8D;
}

.form_input {
  width: 580px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  padding-left: 24px;
}

.form_input::placeholder {
  font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 32.81px;
color: #8D8D8D;
}

.form_last--btn {
  width: 248px;
  height: 68px;
  color: white;
  font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 28.13px;
text-align: center;
border-radius: 16px;
background-color: #8E32C6;
border: 0;
outline: none;
cursor: pointer;
}

.form_last--btn--wrapper {
  padding-bottom: 37px;
}

